<html>
<head>
    <link rel="stylesheet" href="/css/styles.css" media="all" charset="utf-8">
    <title>Address Book</title>
</head>
<body>
    <div id="header">
        <h1>Address Book</h1>
    </div>
    <div id="wrapper">
        {% if contacts is not empty %}
            <p>Here Are Your Contacts:</p>
            <ul>
                {% for contact in contacts %}
                    <h2> {{ contact.getFirstName }} {{ contact.getLastName}} </h2>

                {% endfor %}
            </ul>
        {% else %}
        <div id="welcome">
            <h2>Lets Get Set Up Your Address Book!</h2>
        </div>
        {% endif %}
    </div>

    <form class="form" action='/create_contact' method='post'>
        <h4>Name:</h4>
        <label for='first_name'>First:</label>
        <input id='first_name' name='first_name' type='text'></br>
        <label for='last_name'>Last:</label>
        <input id='last_name' name='last_name' type='text'></br>
        <h4>Address:</h4>
        <label for='street'>Street:</label>
        <input id='street' name='street' type='text'></br>
        <label for='city'>City:</label>
        <input id='city' name='city' type='text'></br>
        <label for='state'>State:</label>
        <input id='state' name='state' type='text'></br>
        <label for='zip'>Zip:</label>
        <input id='zip' name='zip' type='text'></br>


        <button type='submit'>Add Contact</button>
    </form>
    <form action='/delete_contacts' method='post'>
        <button type='submit'>Clear</button>
    </form>
    <div class="center" id="footer">
        <h5>&copy 2016 Sweeney</h5>
    </div>
</body>
</html>
