<html>
<head>
    <link rel="stylesheet" href="/css/styles.css" media="all" charset="utf-8">
    <title>Address Book</title>
</head>
<body>
    <div id="header">
        <h1>Address Book</h1>
    </div>
    <div id="wrapper">
        {% if contacts is not empty %}
            <p>Here Are Your Contacts:</p>
            <ul>
                {% for contact in contacts %}
                    <h2> {{ contact.getFirstName }} </h2>

                {% endfor %}
            </ul>
        {% else %}
        <div id="welcome">
            <h2>Lets Get Set Up Your Address Book!</h2>
        </div>
        {% endif %}
    </div>

    <form action='/create_contact' method='post'>
        <label for='first_name'>First Name:</label>
        <input id='first_name' name='first_name' type='text'></br>

        <button type='submit'>Add Contact</button>
    </form>
    <form action='/delete_contacts' method='post'>
        <button type='submit'>Clear</button>
    </form>
</body>
</html>
