<html>
<head>
    <link rel="stylesheet" href="/css/styles.css" media="all" charset="utf-8">
    <title>Address Book</title>
</head>
<body>
    <div id="header">
        <h1>Address Book</h1>
    </div>
    <div id="wrapper">
        <h1>You Added {{ newcontact.getFirstName }} to Your Contacts</h1>
    </div>
    <form action='/'>
        <button type='submit'>View Address Book</button>
    </form>
    <div class="center" id="footer">
        <h5>&copy 2016 Sweeney</h5>
    </div>
</body>
</html>
