<html>
<head>
    <link rel="stylesheet" href="/css/styles.css" media="all" charset="utf-8">
    <title>Address Book</title>
</head>
<body>
    <div class="center" id="header">
        <h1>ADDRESS BOOK</h1>
    </div>
    <div class="center" id="wrapper">
        <h1>Your Address Book Has Been Destroyed</h1>
        <form action='/'>
            <button class="btn" type='submit'>Home</button>
        </form>
    </div>
    <div class="center" id="footer">
        <h5>&copy 2016 Sweeney</h5>
    </div>
</body>
</html>
