* {
  color: #333333;
  font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
}

img {
    width: 150px;
    border-radius: 100px;
    border: 2px solid #333;
}
.form label {
    width: 240px;
}

.center {
    text-align: center;
}
