/**********ELEMENTS***********/
* {
    margin: 0;
    color: #333333;
    font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
    list-style: none;
}

a {
    color: #9A1500;
    text-decoration: none;
}

a:hover {
    color: #FA2200;
}

img {
    width: 150px;
    border-radius: 100px;
    border: 2px solid #9A1500;
}

body {
    background-color: #449ED8;
}
/**********HEADER***********/
#header {
    padding: 20px 0 15px;
    background-color: #FAAF00;
    border-bottom: 10px solid #218DAC;
}

#header h1 {
    font-size: 3.6em;
    text-shadow: 1px 2px #FA2200;
    font-family: Impact, Charcoal, sans-serif;
    color: #057A9C;
}
/**********CONTENT***********/
#wrapper {
    background-color: #449EB8;
}

#wrapper h2 {
    color: #FFBF2B;
}

#welcome {
    text-align: center;
}

#form {
    margin: 5px 0 3px 10px;
    /*border: 2px solid #024B60;*/
    font-size: 1.1em;
    float:left;
}

#form label {
    margin: 2px;
}

#form input {
    float: right;
}

#contacts {
    border: 2px solid #024B60;
    text-align: center;
    width: 66%;
    background-color: #449EB8;
    float: right;
}

#contacts h1 {
    color: #9A6C00;
    font-size: 3.2em;
    font-weight: bold;
}

#contacts p {
    color: #eee;
}


.single_contact {
    padding: 9px 0 4px;
}
/**********FOOTER***********/
#footer {
    border-top: 5px solid #9A6C00;
    clear: both;
    padding: 5px 0 1000px;
    background-color: #C68B00;
}

#footer h5 {
    font-size: 1.2em;
    color: #057A9C;
}
/**********CLASSES**********/
.btn {
    margin: 6px;
    font-size: 1.1em;
    padding: 2px 20px;
    border-radius: 3px;
    min-width: 150px;
    background-color: #FFCD58;
}

.danger {
    background-color: #FA2200;
    border: 2px solid #9A1500;
    color: #eee;
    font-size: 1.6em;
}
.center {
    text-align: center;
}
